<div class="banner text-center">
  <%= image_tag("moleywood_banner_sparkling", size: "1000x500") %>



<div class="row">
  <h2>Can you dig it?</h2>
</div>
<div class="row">
  <h3>Find work experience in the film sector</h3>
</div>

</div>
