h1 {
  text-align: center;
}

.container-form {
  width: 90vh;
  background-color: white;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #CFCFCF;
}

.center-text {
  text-align: center;
}

.button {
  margin: 15px;
}
