h1 {
  text-align: center;
  color: #0d6d09;
}

.btn {
  text-align: center;
}

.container {
  width: 90vh;
  background-color: white;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #CFCFCF;
}

.form-text {
  text-align: center;
}
