.container_searchbar {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
}

.container_searchfield {
	display: inline-block;
}

#eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}
