// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "users/index";

@import "users/show";

@import "projects/index";
@import "devise/registrations/index";
@import "devise/sessions/index";


html{
  position: relative;
  height:  100%;
}

body {
  background-image: url("http://clipart-library.com/img/879024.png");
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.1);
  background-size: cover !important;
}

.container {

  background-color: rgba(240,240,240,0.8);

}


// .mole{
//   background-color:#000000;
//   background-image:url(http://www.mantlelabs.com/flashlight/images/flashlight.jpg);
//   background-repeat:no-repeat;
//   background-position:50% 50%;
//   cursor:crosshair;
//   color: black;
// }

