.stat {
  background-color: white;
  margin: 5px;
  height: 400px;
  box-shadow: 2px 2px 2px #CECECE;
}

.stat-content {
  height: 400px;
  text-align: center;

}

.list{
  text-align: left;
}

.reviews {
  margin-top: 10px;
}

#component-1{
  margin-top: 20px;
}
