.stat {
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  height: 400px;
  box-shadow: 2px 2px 2px #CECECE;
}

.stat-content {
  margin: 10px;
  height: 400px;
  text-align: center;
}
